<header class="container">
  <h1>
    {{ title }}
  </h1>
</header>

<section class="container">
  <div class="row">
    <div class="col-6">
      <cf-form
        #f 
        [class]=""
        [isDebug]="true" 
        [cfFormGroup]="cfFormGroup" 
        [cfFormSetting]="cfFormSetting" 
        [(ngModel)]="info">

        <ng-container *ngFor="let propName of ObjectUtil.keys(cfFormSetting); let i=index">

            <!-- 'hidden' | 'text' | 'radio' | 'checkbox' | 'password' | 'confirm-password' -->
    
            <cf-inputs-hidden *ngIf="cfFormSetting[propName].type === 'hidden'"
              [cfForm]="f"
              [propName]="propName"
              ></cf-inputs-hidden>
            
            <div class="form-group" *ngIf="cfFormSetting[propName].type === 'text'">
              <cf-inputs-text 
                [cfForm]="f"
                [type]="'text'"
                [class]="'form-control'"
                [propName]="propName"
                ></cf-inputs-text>
            </div>

            <div class="form-group" *ngIf="cfFormSetting[propName].type === 'textarea'">
              <cf-inputs-textarea
                [cfForm]="f"
                [rows]="6"
                [class]="'form-control'"
                [propName]="propName"
                ></cf-inputs-textarea>
            </div>

            <div class="form-group" *ngIf="cfFormSetting[propName].type === 'password'">
              <cf-inputs-text 
                [cfForm]="f"
                [type]="'password'"
                [class]="'form-control'"
                [propName]="propName"
                ></cf-inputs-text>
            </div>
    
            <div class="form-group" *ngIf="cfFormSetting[propName].type === 'radio'">
              <cf-inputs-radio 
                [cfForm]="f"
                [propName]="propName"
                ></cf-inputs-radio>
            </div>
    
            <div class="form-group" *ngIf="cfFormSetting[propName].type === 'checkbox'">
              <cf-inputs-checkbox 
                [cfForm]="f"
                [isMultiple]="true"
                [propName]="propName"
                ></cf-inputs-checkbox>
            </div>
    
            <div class="form-group" *ngIf="cfFormSetting[propName].type === 'confirmPassword'">
              <cf-inputs-confirm-password 
                [cfForm]="f"
                [propName]="propName"
                ></cf-inputs-confirm-password>
            </div>
    
        </ng-container>

        <cf-button 
          [type]="'button'"
          [cfFormGroup]="cfFormGroup" 
          [class]="'btn btn-primary mr-2'" 
          (click)="commitIt($event)">確定</cf-button>

        <button class="btn btn-secondary" (click)="setData($event)">reset</button>

      </cf-form>
      
    </div>
    <div class="col-6">
      <textarea class="w-100" rows="20" [(ngModel)]="infoJson">
      </textarea>
    </div>
  </div>
</section>